* {
	margin: 0;
	padding: 0;
}


.round {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 100px;
	background-color: pink;
	border-color: black;
	border-width: 5px;
	/*border-style: solid;*/
	margin: -50px 0 0 -50px;
}


#div2 {
	position: absolute;
	background-color: yellow;
	border-color: black;
}


#div4 {
	position: absolute;
	background-color: green;
	border-color: black;
}


#div6 {
	position: absolute;
	background-color: blue;
	border-color: black;
}


#div8 {
	position: absolute;
	background-color: red;
	border-color: black;
}


#div0 {
	position: absolute;
	background-color: gray;
	border-color: black;
}